@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Share+Tech+Mono&display=swap');
.nav-bar {
  position: absolute;
  width: 100%;
  height: 72px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}
.nav-bar > h1 {
  position: absolute;
  width: 145px;
  height: 14px;
  left: 190px;
  top: 17px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26.1038px;
  line-height: 13px;
  /* or 50% */

  letter-spacing: 3.91557px;

  color: #000000;
}

#in {
  box-sizing: border-box;
  position: absolute;
  width: 1168px;
  height: 53px;
  left: 136px;
  top: 113px;
  background: #ffffff;
  opacity: 0.7;
  border: 1px solid rgba(21, 20, 57, 0.4);
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.icon-b {
  position: absolute;
  width: 64.13px;
  height: 53.62px;
  left: 1240px;
  top: 112px;

  background: #6496eb;
  border-radius: 0px 9px 9px 0px;
}

.icon-b i {
  position: absolute;
  left: 28px;
  right: 25px;
  top: 20px;
  bottom: 19px;
  border: 2px solid #ffffff;
  color: ghostwhite;
}

.icon-c i {
  position: absolute;
  left: 32cm;
  top: 3.4cm;
  color: gray;
}
.card {
  height: 658.5791015625px;
  width: 771px;
  border-radius: 27.905895233154297px;

  background: #ffffff;
  box-shadow: 2.81315px 2.81315px 14.0658px rgba(0, 0, 0, 0.25);
  border-radius: 27.9059px;

  position: absolute;
  left: 335px;
  right: 0%;
  top: 25%;
  bottom: 0%;
}
.card > img {
  position: absolute;
  width: 325px;
  height: 318.92px;
  left: 223px;
  top: 53.42px;
  border: 1.58963px solid #ffffff;
  border-radius: 26.9332px;
}
.card > h2 {
  position: absolute;
  left: 39.79%;
  right: 39.84%;
  top: 58.91%;
  bottom: 35.28%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #333333;
}
.card > h3 {
  position: absolute;
  left: 36.8%;
  right: 29.69%;
  top: 67.07%;
  bottom: 25.15%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 51px;
  /* or 211% */

  letter-spacing: 0.01em;

  /* Grey/Grey - 500 */

  color: #70747e;
}
.card > h4 {
  position: absolute;
  left: 36.8%;
  right: 71.38%;
  top: 74.85%;
  bottom: 17.38%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 51px;
  /* or 211% */

  letter-spacing: 0.01em;

  /* Grey/Grey - 500 */

  color: #70747e;
}
.card > h5 {
  position: absolute;
  left: 36.8%;
  right: 51.38%;
  top: 82.66%;
  bottom: 9.57%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 51px;
  /* or 211% */

  letter-spacing: 0.01em;

  /* Grey/Grey - 500 */

  color: #70747e;
}
.gg-mail {
  position: absolute;
  left: -35px;
  right: 6.25%;
  top: 18px;
  bottom: 18.75%;
  color: #6496eb;
  
}
.gg-pin {
  box-sizing: border-box;

  position: absolute;
  left: -35px;
  right: 21.26%;
  top: 18px;
  bottom: 7.58%;
  color: #6496eb;
}
#rupee {
  position: absolute;
  left: 250px;
  right: 21.26%;
  top: 590px;
  bottom: 7.58%;
  color: #6496eb;
  font-size: 28px;
}
#expense {
  box-sizing: border-box;

  position: absolute;
  width: 243.28px;
  height: 59.6px;
  left: 391px;
  top: 957.45px;
  text-align: center;
  font-size: large;
  background: #ffffff;
  border-radius: 16.3275px;
  box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1),
    0px 16px 32px rgba(38, 50, 56, 0.08);
  border: 2px solid white;
}
#amt {
  box-sizing: border-box;

  position: absolute;
  width: 243.28px;
  height: 59.6px;
  left: 650.61px;
  top: 957.45px;
  text-align: center;
  font-size: large;
  background: #ffffff;
  color: white;
  opacity: 0.7;
  border-radius: 16.3275px;
  box-shadow: 2.81315px 2.81315px 14.0658px rgba(0, 0, 0, 0.25);
  border: 2px solid white;
}
#btn {
  position: absolute;
  height: 59.6px;
  width: 138px;
  left: 910px;
  right: 0.18px;
  top: 957px;
  bottom: 0.02px;
  background: #6496eb;
  font-size: large;
  color: white;
  box-shadow: 2.81315px 2.81315px 14.0658px rgba(0, 0, 0, 0.25);
  border-radius: 13.0045px;
  border: 2px solid #6496eb;
}
.icon-cs {
  position: absolute;
  left: 39.79%;
  right: 39.84%;
  top: 58.91%;
  bottom: 35.28%;
  font-family: "Poppins";
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #333333;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.row_1 {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 470px;
  top: 1070px;
  size: 6px;
  border-radius: 0px;
  font-family: "Poppins";
  font-style: normal;
  line-height: 33px;
  color: #333333;
}
.row_2 {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 670px;
  top: 1080px;
  size: 6px;
  border-radius: 0px;
  background: #707070;
}
.row_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 720px;
  top: 1080px;
  size: 6px;
  border-radius: 0px;
  background: #707070;
}
.in_val {
  position: sticky;
  box-sizing: border-box;
  width: 243.28px;
  height: 59.6px;
  left: 720px;
  top: 1070px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 20px;
  background: #ffffff;
  opacity: 0.7;
  text-align: center;
  box-shadow: 2.81315px 2.81315px 14.0658px rgba(0, 0, 0, 0.25);
  border-radius: 16.3275px;
  border: 2px solid white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22.8586px;
  line-height: 11px;
}

/* footer */
footer {
  position: relative;
  top: 40cm;
  /* left:4cm; */
  padding-right: 150px;
  padding-left: 150px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  /* border-right: 1px solid #bbb; */
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
 
 .nav-bar{
 
  width: 1040px;
 }
 #in{
  /* display: none; */
  width: 750px;

 }
 .card{
  display:flex;
  justify-content: center;
  align-items: center;
  top:6cm;
  left: 3.5cm; 
 }
.icon-b{
  /* display: none; */
  display: 60%;
    left: 22.5cm;
 }
 .icon-c{
  display:none;
 }
 /* .allwrap{
  left: 1000px;
 } */
#expense{
  left: 240px;
}
#amt{
  left: 540px;
}
#btn{
  bottom: 120px;
  left: 450px;
  top: 1070px;
}
.wrap{
  position: relative;
  top: 3cm;
  right: 5.5cm;
}
footer {
  top: 43cm;
}

}